@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 0px;
}